* { margin: 0; padding: 0; box-sizing: border-box;}
body {
  font-size: 16px;
  color: #fff;
  background-color: #FFF8DC;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}
/** Header**/
#header-nav{
	background-color:#A9A9A9;
	border-radius:0;
	border:0;
}
#section {
    margin: 15px;
    padding: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #8B4513;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list>li {
  color: #951C49;
  text-align: center;
  margin-top: 0;
}
#section {
  background-color: #8B4513;
  height: 1000px;
}
.menu1{background-color: #CD853F;}
.menu2{background-color: #FF8C00;}
.menu3{background-color: #00FF00;}
